body{
    background-image: url(https://images.alphacoders.com/108/thumb-1920-1088632.jpg);
}

h1{
    color: rgb(77, 34, 14);
    background-color: rgb(248, 162, 195);
    text-align: center;
}

#p1{
    color: antiquewhite;
    text-align: center;
}

.c1{
    color: rgb(228, 184, 156);
    background-color: rgb(113, 72, 36);
    width: 200px;
    text-align: center;
    border: 10px rgb(247, 205, 170);
    margin: 10px;

}

table, th, td {
    background-color: rgb(195, 155, 135);
    color: rgb(235, 235, 235);
    text-align: center;
    border: 1px solid rgb(101, 39, 3);
    height: 30px;
    width: 100%;
    
}

th{
    background-color: rgb(54, 18, 0);
    text-align: center;
}
div {
    display: flex;
}

a:link{
    color: antiquewhite;
    background-color: rgb(243, 220, 204);
    margin-top: 10px;
}
a:hover{
    color: rgb(75, 33, 1);
    background-color: rgb(230, 206, 156);
}

