*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #8db28c;
}

header{
    font-family: fantasy;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DAD7CD;
    padding: 1%;
    color:  #04311b;

    .imgtopo{
        width: 8%;
        display: flex;
    }
}
header h1 {
    text-align: center;
}
 

nav{
    display: flex;
    justify-content: space-around;
    background-color:#04311b;
    color: aliceblue;
    padding: 0.5%;

}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
button{
    border-radius: 10%;
    padding: 0.4%;
    border: 1% #588157;
    background-color:#A3B18A;
}
button:hover {
    color: black;
    background-color: #DAD7CD;
}

main{

    margin: 2%;
    display: flex;
    justify-content: space-between;
    
    flex-direction: row;

    .conteiner{
        background-color: #DAD7CD;
        width: 65%;
        height: auto;
        padding: 10%;
        
        .texto{
            padding: 1%;
        }
    }

    aside{
        height: 100%;
        width: 30%;
        background-color: #04311b;
        padding: 1%;
        
        .imgportifolio{
            width: 100%;
            padding: 1%;
        }

    }
}

footer{
    font-size: small;
    font-family: serif;
    text-align: center;
    justify-content: space-between;
    display: list-item;
    background-color: #234333;
    width: 100%;
    height: fit-content;
    padding: 0.5%;


    #logopsw{
        width: 5%;
        margin: 0;
    }
    
}







