body{
    background-color: rgb(106, 177, 227);
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}

main{
    background-color: rgb(0, 85, 146);
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 8px 8px 20px #23286a6f;
}

main h1{
    margin: 10px 0;
}

form{
    display: flex;
    flex-direction: column;
    
}

form label{
    margin: 6px 0 4px;
}

form input{
    margin-bottom: 10px;
    padding: 4px;
    border: none;
    border-radius: 4px;
}

form input[type=submit]{
    margin-top: 10px;
    width: 100px;
    border: none;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(0, 127, 225);
    color: #fff;
}