*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    padding-bottom:1%;
    padding-top: 1%;
    display: flex;
    justify-content: space-between;
    background-color: #0c6c1c;
}

.cabecalho{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}

.cabecalho h5 {
    margin: 0%;
    color:#adf296;
}

.cabecalho h1{
    font-size: 2.5em;
    margin: 0%;
    color: #ffffff;
}

.logo{
    display: flex;
    justify-content: center;
    width: 10%;
}

.logo img {
    margin: auto;
    width:70px;
    height: 90px;
}

ul{
    margin: 0%;
    padding: 0.5%;
    list-style-type: none;
    overflow: hidden;
    background-color: #084811;
}

li a{
    font-size: 0.8em;
    display: inline;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    padding: 1% 0.8%;
}

li a:hover{
    background-color:#87ce74;
    color: black;
    transition: 0.4s;
}

.ativo{
    background-color:#e1e7df;
    color: black;
}

main{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color:#e1e7df;
}

.conteudo1{
    background-color:#e1e7df;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 4%;
    text-align: justify;
}

#botaocad {
    background-color:#235213;
    text-decoration: none;
    color:#dae0d9;
    text-align: center;
    padding: 1%;
    font-size: 0.9em;
    border-radius: 4px;

}

#botaocad:hover{
    box-shadow:0 8px 10px 0 rgba(0,0,0,0.24),0 10px 30px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    background-color:#235213;
    color:#adf296;
    transition: 0.5s;
}

#if{
    color: #1d570a;
}

.portifolio1{
    width: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color:#e1e7df;
    justify-items: center; 
}

.portifolio1 img{
    width: 100%;
}

footer{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8em;
    padding: 2%;
    display: list-item;
    justify-content: space-between;
    text-align: center;
    background-color: #084811;
    margin: 0%;
    color: #ffffff;
}

.conteudo2{
    width: 100%;
    padding: 4%;
}


.formulario{
    padding: 5%;
    margin: 0;
    width: auto;
    background-color:#7ba46d;
    color: rgb(0, 0, 0);
}

.voltar{
    font-size: 1.2em;
    text-decoration: none;
    color: #000000;
}

  
form{
    padding: 1%;
}
  
.informacoes1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#id1{
    width: 55%;
}

#grupo0{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

#id2{
    width: 45%;
}

#id3{
    width: 50%;
}
  
.informacoes2{
    display: flex;
    justify-content: space-between;
}

#id4{
    width: 55%;
}

#id5{
    width: 40%;
}

.informacoes3{
    display: flex;
    justify-content: space-between;
}

#grupo1{
    justify-content: space-between;
    display: flex;
    width: 55%;
}

#id6{
    width: 60%;
}

#id7{
    width: 35%;
}

#grupo2{
    justify-content: space-between;
    display: flex;
    width: 40%;
}

#id8{
    width: 70%;
}

#id9{
    width: 25%;
}

.classe1{
    background: #bef2c5;
    padding: 1%;
    text-align: center;
    font-weight: bold;
}

label{
    font-weight: 700;
}
  
.informacoes4{
    background-color: #bef2c5;
    width: 100%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-evenly;
}

.informacoes5{
    background-color: #bef2c5;
    width: 100%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-evenly;
}

.grupo3{
    border: 1px solid rgb(21, 56, 8);
    margin-top: 2%;
}

.envio{
    margin-top: 2%;
    display: flex;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid beige;
    background-color:rgb(21, 56, 8);
    color: beige;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid beige;
    background-color:rgb(21, 56, 8);
    color: beige;
    border-radius: 4px;
    box-sizing: border-box;
}

 input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid beige;
    background-color:rgb(21, 56, 8);
    color: beige;
    border-radius: 4px;
    box-sizing: border-box;
}
    
input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid beige;
    background-color:rgb(21, 56, 8);
    color: beige;
    border-radius: 4px;
    box-sizing: border-box;
}
  
 input[type=submit], input[type=reset] {
    background-color:#002608;
    border: none;
    color: beige;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.conteudo3{
    background-color: #dae0d9;
    width: 80%;
    overflow-x: auto;
    margin: 4%;
}

#tabela{
    border-collapse: collapse;
    width: 100%; 
}

#tabela td, #tabela th {
    border: 1px solid #000000;
    text-transform: uppercase;
    padding: 8px;
    text-align: center;
}

#tabela th {
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    background-color:#528242;
    color: white;
    font-size: 0.9em;
}

#tabela td {
    font-size: 0.8em;
    background-color: #d0d8cd;
}

tr:hover {
    background-color:#3cef00 ;
}


  