/*  ESTRUTURA GERAL */
*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100%;
    height: 1000px;
}

header, main, footer{
    width: 100%;
}

header{
    background-color: rgba(252, 236, 223, 1);
    height: 15%;
}

main{
    background-image: linear-gradient(to bottom right, rgba(238, 106, 67, 0.84), rgba(236, 37, 40, 0.84), rgba(234, 95, 58, 1));
    height: 65%;
    display:flex;
}

footer{
    background-color:rgba(165, 25, 12, 1);
    height: 20%;
}

.linha1{
    background-color: rgba(158, 18, 44, 1);
    width: 100%;
    height: 15%;
}
.linha{
    background-color:rgba(252, 236, 223, 1);
    width: 100%;
    height: 15%;
}

.rodape{
    background-color:rgba(165, 25, 12, 1);
    width: 100%;
    height: 85%;
    align-content: center;
}

/* CABEÇALHO */
.cabecalho{
    display: flex;
    justify-content: space-around;
    height: 85%;
    border: 1px solid rgba(158, 18, 44, 1);
}

.menu{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: rgba(158, 18, 44, 1);
    font-weight: bold;
}

.logo1{
    height: 100%;
}

/* MAIN */

.imginicial{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.infoinicial{
    display: block;
    height: 100%;
    width: 65%;  
}

.img{
    height: 80%;
    border-radius: 100%;
    box-shadow: 2px 2px 10px rgba(164, 32, 35, 0.84);
}

.titulo{
    height: 45%;
    width: 100%;
    color: rgba(252, 236, 223, 1);
    font-weight: bold;
    display: flex;
    align-items: center;

    h1{
        font-size: 700%;
        padding-top: 14%;
    }

}

.text{
    height: 10%;
    padding-top: 2%;
    display: flex;
    align-items: center;
    width: 100%;
    color: rgba(252, 236, 223, 1);
}

.text2{
    height: 3%;
    display: flex;
    align-items: center;
    width: 100%;
    color: rgba(252, 236, 223, 1);

    p{
        font-weight: bold;
    }
}

.botao{
    height: 35%;
    width: 50%;
    display: flex;
    float: right;

    img{
        height: 140%;
    }

    p{
        position: relative;
        z-index: 10;
        margin-left: -70%;
        margin-top: 30%;
        background-color: rgba(251, 196, 108, 1);
        color: rgba(130, 1, 25, 1);
        height: 20%;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}




/*RODAPÉ*/

.logo2{
    display: flex;
    justify-content: center;
    padding: 0.5%;

    img{
        width: 4%;
        padding: 0.5%;
    }

}

.textrodape{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.5%;
    color: rgba(252, 236, 223, 1);
    font-size: 0.8em;
}