<<<<<<< HEAD
body{
    background-color: bisque;
    height: auto;
    width: auto;
}
h1{
    font-size:medium; 
    font-weight: 100;
 }

=======
body{
    background-color: bisque;
    height: auto;
    width: auto;
}

>>>>>>> 2afe0dfa15d9c69df7284eff50529d1a964af443
